# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# MyTARDIS source tree
3.5/mytardis

# SSH authorized keys for the container
3.5/authorized_keys

# Data directories
3.5/data
3.5/dicom_tmp
3.5/var_log
3.5/scratch/*
3.5/*.swp

####################################################

# MyTARDIS source tree
develop/mytardis

# SSH authorized keys for the container
develop/authorized_keys

# Data directories
develop/data
develop/dicom_tmp
develop/var_log
develop/scratch/*
develop/*.swp

3.5/data
develop/data



3.5/vim/bundle/ghcmod-vim/test/data/*

